<div class="component-wrapper component-wrapper--full view-wrapper" data-ref="dashboard-wrapper">
  <div class="layout-body layout-body--scrollable layout-scrollable view-scrollable" data-ref="dashboard-scrollable">
    <div class="view-body" data-ref="dashboard-container">
      <div class="view-backdrop" data-ref="dashboard-gradient-backdrop"></div>

      <div class="view-hero" data-ref="dashboard-hero">
        <div class="view-hero__content">
          <h1 class="view-hero__title" data-ref="dashboard-title" data-i18n="admin.title"></h1>
          <p class="view-hero__desc" data-ref="dashboard-desc" data-i18n="admin.description"></p>
        </div>
      </div>

      <section class="canvas-section" data-ref="dashboard-content">
      </section>
    </div>
  </div>
</div>
