NODE_ENV=development
PORT=3000
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=db_lottery
DB_LOTTERY_NAME=db_lottery
DB_USER=your_db_user
DB_PASSWORD=your_db_password
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_secure_password
WEBSOCKET_HOST=127.0.0.1
WEBSOCKET_PORT=3008
CASSANDRA_CONTACT_POINTS=127.0.0.1
CASSANDRA_PORT=9042
CASSANDRA_KEYSPACE=boreal_audit
CASSANDRA_LOCAL_DC=datacenter1
CASSANDRA_USER=cassandra
CASSANDRA_PASSWORD=your_cassandra_password
SESSION_SECRET=your_admin_session_hmac_secret_2026
