[Unit]
Description=Project Boreal - Temporizador Diario de Mantenimiento Preventivo

[Timer]
OnCalendar=*-*-* 04:00:00
Persistent=true

[Install]
WantedBy=timers.target
