<div class="layout-nav" data-ref="sidebar">
  <div class="layout-rail" data-ref="layout-rail">
    <div class="layout-rail__top" data-ref="rail-top">
      <div class="rail-top-default" data-ref="rail-top-default">
        <button type="button" class="component-button component-button--h40 component-button--icon-only rail-btn rail-btn--toggle" data-ref="btn-toggle-drawer" data-i18n-tooltip="nav.toggle_drawer" data-i18n-aria="nav.toggle_drawer">
          <svg class="component-icon rail-btn__icon" aria-hidden="true"><use href="/icons.svg#dock_to_right"></use></svg>
        </button>
      </div>
    </div>

    <hr class="rail-divider" data-ref="rail-divider" />

    <div class="layout-rail__center" data-ref="rail-center">
      <div class="rail-center-default" data-ref="rail-center-default">
        <div class="rail-nav-item is-active" data-ref="rail-item-dashboard">
          <button type="button" class="component-button component-button--h40 component-button--icon-only rail-btn is-active" data-ref="btn-rail-dashboard" data-i18n-tooltip="nav.dashboard" data-i18n-aria="nav.dashboard">
            <svg class="component-icon rail-btn__icon" aria-hidden="true"><use href="/icons.svg#dashboard"></use></svg>
          </button>
          <span class="rail-nav-item__label" data-ref="rail-label-dashboard" data-i18n="nav.dashboard"></span>
        </div>
      </div>
    </div>

    <div class="layout-rail__bottom" data-ref="rail-bottom">
    </div>
  </div>
</div>
