NODE_ENV=development
PORT=3005
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=db_boreal
DB_USER=your_db_user
DB_PASSWORD=your_db_password
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
SESSION_SECRET=your_session_secret
